<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="css/Signedin_header.css">
    <title>Document</title>
</head>
<body>
  
    <img src="/userimages/{{data._id}}.jpg" alt="" style="width:100px;height:100px">
    <h2>Name:{{data.name}}</h2>
    <h2>Age:{{data.age}}</h2>
    <h2>fathers-name:{{data.fathersname}}</h2>
    <h2>mothers-name:{{data.mothersname}}</h2>
    <h2>Education:{{data.Education}}</h2>
    <h2>family-type:{{data.familytype}}</h2>
    <h2>family-status:{{data.familystatus}}</h2>
    <h2>livingin:{{data.livingin}}</h2>
    <h2>height:{{data.height}}</h2>
    <h2>body-type:{{data.bodytype}}</h2>
    <h2>complexion:{{data.complexion}}</h2>
    <h2>sex:{{data.sex}}</h2>
    <h2>martialstatus:{{data.martialstatus}}</h2>
    <h2>religion:{{data.religion}}</h2>
    <h2>occupation:{{data.occupation}}</h2>
    <h2>phone:{{data.phone}}</h2>
    <h2>address:{{data.address}}</h2>
    <h2>about me:{{data.about}}</h2>
    <h2>height:{{data.height}}</h2>
    <h2>weight:{{data.weight}}</h2>
    
</body>
</html>